<div class="media col-sm-12 col-md-10 col-lg-8" id="OnDeck">
  <img src="{{posterPath}}" class="align-self-center mr-3" alt="No Poster">
  <div class="media-body">
    <h5 class="mt-0">{{title}}</h5>
    <p>{{overview}}</p>
  </div>
</div>
