.loginForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginForm h2 {
    text-align: center;
}


Body {
    background-image: url(https://i.ytimg.com/vi/z56E7qUpFis/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background-color: rgba(245, 245, 245, 0.75);
}

a {
    color:black;
}
.h1 {
    font-family: 'Staatliches', cursive;
}

h5 {
    margin-left: 5px;
}

#search-instructions {
  color: black;
  text-shadow: -1px -1px 0 White, 1px -1px 0 White, -1px 1px 0 White, 1px 1px 0 White;
}

#OnDeck {
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 10px;
    max-width: 1260px;
    padding: 0px;
    background-color:white
}

#search-container {
    margin-top: 35px;
    margin-left: 40px;
    margin-right: 10px;
    padding-top: 20px;
    padding-left: 0px;
    font-family: 'Staatliches', cursive;
}

.search-btn {
    background-color: red;
    color: white;
    border-color: black;
}

/* #search {
    width: 520px !important;
} */

#watch-lists {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 0;
}
.list-group {
    background-color: rgba(245, 245, 245, 0.85);
}

#watched {
    padding: 0px;
    margin-right: 10px;
}

#not-watched {
    padding: 0px;
    margin-right: 10px;
}

.footer-type{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.4);
    height: 50px;
    margin-bottom: -10px;
    text-align: center;
    color: black;
  text-shadow: -1px -1px 0 White, 1px -1px 0 White, -1px 1px 0 White, 1px 1px 0 White;
}